<header>{{ page.header }}</header>
<div id="main">
  <article>{{ page.content }}</article>
  <nav>{{page.left_sidebar}}</nav>
  <aside>{{page.right_sidebar}}</aside>
</div>
<footer>{{page.footer}}</footer>